# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
.venv/
.env

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# PyInstaller
*.manifest
*.spec

# Logs and databases
*.log
*.sqlite3
